@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}

/********* Header  Styles **********/

header{
    background-color: hsl(200, 100%, 62%);
    padding: 2.5rem;
    background-image:url(images/desktop/image-header.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom ;
    background-size: cover;
    height: 650px;
}

.logo{
    margin-left: 2rem;
    width: 12%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items{
    display: flex;
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    cursor: pointer;
}

.nav-items li a{
    margin-left: 2rem;
}

.nav-items .contact-btn{
    border: none;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    font-weight: 700;
    font-family: 'Fraunces',sans-serif;
    margin-right: 2rem;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bars{
    background: #fff;
    width: 23px;
    height: 3px;
    margin: 5px auto;
    display: block;
    transition: all 0.3s ease-in-out;
}

.contact-btn:hover{
    color: hsl(0, 0%, 100%);
    background-color: #6eceff;
}

/**** Hero Section Styles ****/

.hero-details{
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding-top: 4.5rem;
    font-family: 'Fraunces',sans-serif;
    letter-spacing: 10px;
}

.hero-details h1{
    font-size: 3rem;
    text-transform: uppercase;
    padding-bottom: 2.8rem;
}

.hero-details img{
    height: 6rem;
}

/******** Pictures-Gallery Styles********/

.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box{
    padding: 7rem;
}

.box h2{
   font-family:'Fraunces', sans-serif;
   font-size: 3rem;
   color: hsl(212, 27%, 19%);
   margin-bottom: 2rem;
}

.box p{
    color: hsl(213, 9%, 39%);
    font-size: 1.13rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.box a{
    font-family: 'Fraunces', sans-serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 900;
    border-radius: 5px;
}

.btn-underline{
    border-bottom: 8px solid hsl(51, 100%, 49%);
}

.btn-underline-1{
    border-bottom: 8px solid hsl(7, 99%, 70%);;
}

.box-content,
.box-content-1{
    text-align: center;
    margin-top: -13rem;
}

.box-content h3{
    font-size: 2rem;
    font-family:'Fraunces',sans-serif;
    margin-bottom: 1rem;
    color:hsl(167, 40%, 24%) ;
}

.box-content-1 h3{
    font-size: 2rem;
    font-family:'Fraunces', sans-serif;
    margin-bottom: 1rem;
    color:hsl(198, 62%, 26%);
}

.box-content p{
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
    line-height: 1.5;
    color: hsl(167, 40%, 24%);
}

.box-content-1 p{
    font-size: 1.2rem;
    width: 60%;
    margin: auto;
    line-height: 1.5;
    color: hsl(198, 62%, 26%);
}

.col img{
    width: 100%;
    height: 100%;
    display: block;
}

/******** Testimonies  Styles *********/

.Testimoinals{
    padding: 7rem 9rem;
}

.testimonies-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header-testimonies h2{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
    font-family: 'Fraunces',sans-serif;
}

.testimony{
    text-align: center;
}

.testimony p{
    font-family:'Barlow', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    color: hsl(213, 9%, 39%);
    font-weight: 900;
}

.testimony img{
    width: 28%;
    border-radius: 50%;
    margin-bottom: 3rem;
}

.profile-details{
    margin-top: 3rem;
}

.profile-details h4{
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'Fraunces',sans-serif;
    margin-bottom: 0.5rem;
    color: hsl(212, 27%, 19%);
}

.profile-details p{
    font-size: 0.9rem;
    color: hsl(210, 4%, 67%);
}

/******** Picture Showcase  Styles ********/

.pictures{
    display: flex;
}

.pictures img{
    width: 25%;
}

/********* Footer Styles *********/

footer{
    background-color: hsl(167, 44%, 70%);
    padding: 3rem;
}

.footer-title{
    font-size: 2rem;
    text-align: center;
    color: hsl(167, 40%, 24%);
    font-weight: bolder;
}

.footer-nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.footer-nav li a{
    margin: 1.5rem;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
    font-size: 1.2rem;
}

.footer-nav li a:hover{
    color: hsl(0, 0%, 100%);
}

.social-media{
    margin-top: 4rem;
    text-align: center;
    cursor: pointer;
}

.social-media img{
    margin:0 0.7rem;
}

.social-media img:hover{
    transform: scale(1.2);
}


/***** Tablet View Styles *****/

@media  only screen and (max-width: 1024px){
    .hero-details img{
        margin-top: 2.5rem;
    }
    
    .box{
        padding: 4rem;
    }

    .col img{
        width: 100%;
        display: block;
    }

    .card img{
        width: 100%;
    }

    .box-content{
        margin-top: -10rem;
    }
    
    .box-content-1{
        margin-top: -9.5rem;
    }

    .box-content p{
        margin-bottom: 3rem;
    }

    .box-content p,
    .box-content-1 p{
        width: 90%;
    }

    .Testimoinals{
        padding:  5rem 2rem;
    }

    .testimony p{
        width: 100%;
        font-size: 1rem;
    }
}


/******  Large Mobile View ******/

@media  only screen and (max-width: 768px){
    header{
        padding: 3rem;
    }

    .nav-items{
        margin-left: 10rem;
    }

    .logo {
        width: 50%;
        margin-left: -1.5rem;
    }
   
    .hero-details .title{
        font-size: 2.7rem;
        margin-right: -2rem;
    }

    .hero-details img{
        height: 8rem;
        margin-left: 1.3rem;
    }

    .row{
        grid-template-columns: 1fr 1fr;
    }

    .col-2{
        order: -2;
    }

    .box{
        padding: 2.2rem;
        text-align: center;
    }

    .box h2{
        font-size: 2.2rem;
        width: 100%;
    }

    .card img{
        object-fit: cover;
        height: 80vh;
    }

    .box-content{
        margin-top: -12rem;
    }

    .box-content-1{
        margin-top: -12rem;
    }

    .header-testimonies h2{
        margin-top: 2rem;
        font-size: 1.8rem;
    }

    .testimony img{
        width: 20%;
    }

    .testimony p{
        margin: auto;
        width: 60%;
    }

    .testimonies-gallery{
        flex-direction: column;
    }

    .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .pictures img{
        width:100%;
    }
} 


@media only screen and (max-width : 550px){
    .hamburger{
        display: block;
        margin: -1.5rem;
    }

    .hamburger.active .bars:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bars:nth-child(1){
        transform: translateY(8px) rotate(-315deg);
    }

    .hamburger.active .bars:nth-child(3){
        transform: translateY(-8px) rotate(-225deg);
    }

    .nav-items{
        position: fixed;
        right: 5%;
        top: -100%;
        flex-direction: column;
        align-items: center;
        padding: 1rem 0;
        background-color: hsl(0, 0%, 100%);
        height: 50vh;
        width: 90%;
        transition: all 0.3s ease-in-out;
    }

    .nav-items.active{
        top: 100px;
    } 

    .nav-items .contact-btn{
        background: hsl(51, 100%, 49%);
        margin-left: 3.5rem;
    }

    .nav-items li{
        padding: 1.2rem 0;
        color: hsl(213, 9%, 39%);
        font-weight: 700;
    }

    .nav-items li:hover{
        color: hsl(200, 100%, 62%);
    }

    .hero-details img{
        height: 6rem;
        margin-top: -0.5rem;
    }

    .hero-details h1{
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Fraunces',sans-serif;;
        text-transform: uppercase;
       margin-left: -1.5rem;
    }

    .row{
        grid-template-columns: 1fr;
    }

    .box-content h3,
    .box-content-1 h3{
        margin-top: 1.3rem;
        font-size: 1.5rem;
    }

    .box-content p,
    .box-content-1 p{
        font-size: 1.1rem;
    }

    .card img{
        height: 85vh;
    }

    .header-testimonies h2{
        font-size: 1.5rem;
    }

    .testimony p{
        width: 100%;
        font-size: 1.09rem;
    }
}